.navbar {
	display: flex;
	background-color: white;
	.burger {
		width: 26px;
		height: 26px;
		background: black;
		padding: 3px;
		.line {
			width: 100%;
			height: 2px;
			border-radius: 3px;
			background: white;
		}
	}
}
