.section-header {
	// height: 700px;
	// background: rgb(255, 240, 1);
	// background: linear-gradient(180deg, rgba(255, 240, 1, 1) 0%, rgba(250, 176, 63, 1) 100%);
	background-image: url('./img/header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 0;
	.ornament-candy-1 {
		width: 111px;
		height: 126px;
		background-image: url('./img/candy-1.png');
		background-size: 100% auto;
		position: absolute;
		left: -2%;
		top: 20%;
	}
	.ornament-star-1 {
		width: 140px;
		height: 109px;
		background-image: url('./img/star-1.png');
		background-size: 100% auto;
		position: absolute;
		right: 10%;
		top: 30%;
	}

	.ornament-candy-2 {
		width: 131px;
		height: 126px;
		background-image: url('./img/candy-2.png');
		background-size: 100% auto;
		position: absolute;
		right: -4%;
		top: 50%;
	}

	.ornament-star-2 {
		width: 38px;
		height: 38px;
		background-image: url('./img/star-2.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		top: 43%;
		left: 8%;
	}

	.header-center {
		max-width: 500px;

		.header-img {
			width: 385px;
			height: 358px;
			background-image: url('./img/awsem-logo.png');
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
	}
}

.section-prize-howto {
	background-color: #fff200;
	background-image: url('./img/prizes-bg.jpg');
	background-size: cover;
	position: relative;
	.prize-ornament {
		width: 1245px;
		height: 550px;
		background-image: url('./img/prizes/ornament.png');
		background-size: 100% auto;
	}
	.prize-container {
		.item {
			width: 270px;
			height: 280px;
			&:nth-of-type(1) {
				background-image: url('./img/prizes/prize-1.png');
				background-size: cover;
			}
			&:nth-of-type(2) {
				margin-bottom: 110px;
				margin-right: 150px;
				width: 283px;
				height: 263px;
				background-image: url('./img/prizes/prize-2.png');
				background-size: cover;
			}
			&:nth-of-type(3) {
				margin-bottom: 110px;
				width: 281px;
				height: 316px;
				background-image: url('./img/prizes/prize-3.png');
				background-size: cover;
			}
			&:nth-of-type(4) {
				margin-bottom: 0px;
				margin-left: -60px;
				width: 364px;
				height: 245px;
				background-image: url('./img/prizes/prize-4.png');
				background-size: cover;
			}
		}
	}
	.prizes {
		.prize-tag {
			width: 330px;
			padding: 10px 40px;
		}
	}
	.howto-container {
		.ornament-howto {
			width: 401px;
			height: 812px;
			background-image: url('./img/howto/petir.png');
			background-size: cover;
		}
		.howto-box {
			width: 848px;
			height: 658px;
			background-image: url('./img/howto/howto-bg.jpg');
			background-size: 100% 100%;
		}
	}
}

.product-container {
	background-image: url('./img/section-product/section-product-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	.ornament-1 {
		width: 59px;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-image: url('./img/section-product/ornament.1.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.ornament-2 {
		width: 59px;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		background-image: url('./img/section-product/ornament.1.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.product-title {
		width: 973px;
		height: 148px;
		background-image: url('./img/section-product/title-product-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.product-center {
		.left {
			z-index: 2;
			.product-1 {
				width: 351px;
				height: 347px;
				background-image: url('./img/section-product/product-1.png');
				background-repeat: no-repeat;
				background-size: cover;
				margin-right: -30px;
			}
		}
		.center {
			width: 409px;
			height: 399px;
			background-image: url('./img/section-product/cupacup-hires.png');
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
		}
		.right {
			z-index: 2;
			.product-2 {
				width: 429px;
				height: 329px;
				background-image: url('./img/section-product/product-2.png');
				background-repeat: no-repeat;
				background-size: cover;
				margin-left: -30px;
			}
		}
	}
}
